<h2>This is a WDInstagram</h2>

<img data-ng-src="{{vm.wdinstagram.photo_url}}">
<p>{{vm.wdinstagram.body}}</p>
<p>{{vm.wdinstagram.author}}</p>




<!-- <h2>Edit Grumble</h2>

<form data-ng-submit="vm.update()">
  <input placeholder="Title" data-ng-model="vm.grumble.title">
  <input placeholder="Author" data-ng-model="vm.grumble.authorName">
  <input placeholder="Content" data-ng-model="vm.grumble.content">
  <input placeholder="Photo URL" data-ng-model="vm.grumble.photoUrl">
  <button type="submit">Update Grumble</button>
</form> -->
